/* General */

*{
  --shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  --text: hsl(80, 70%, 30%);
}

html {
  font-size: 14px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

section {
  padding-bottom: 75px;
}

a {
  text-decoration: none;
  color: var(--text);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: none;
  padding: 20px 10px;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

dialog {
  border: none;
  box-shadow: var(--shadow);
  border-radius: 25px;
  padding: 25px;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 50%;
  transform: translateY(-50%);
}

dialog .btn-close {
  position: absolute;
  right: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: hsl(0, 70%, 30%);

  font-weight: bold
}

dialog .btn-close:hover {
  background-color: hsl(0, 70%, 30%);
  color: white;
}

.form-group {
  padding-bottom: 20px;
  min-width: 200px;
}

textarea {
  border-radius: 3px;
  padding: 10px 20px;
  border: 1px solid #777;
  width: 400px;
  height: 200px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #777;
}

.select2-container {
  width: 100% !important;
  z-index: 10000;
}

button {
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: var(--text);
  color: white;
  font-weight: 900;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e2e2e2;
}

td p {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
  padding: 2px 4px;
}
/* Text */

input, textarea, select, button,
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Segoe UI", serif;
}

/* Helper */

.split {
  display: flex;
  justify-content: space-between;
}

.split > div {
  margin: 0 20px;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow);
}

.container {
  max-width: 960px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul,
.nav-right ul {
  display: flex;
}

.nav-right {
  display: flex;
  align-items: center;
}

nav li a {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

/* Main */

Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
  text-align: center;
  padding: 75px 0;
}

.operations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.operations a,
.operation-button {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--shadow);
  border-radius: 25px;
  transition: 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border: none;
}

.operations a:hover,
.operations-button:hover {
    box-shadow: 0 0 0 0.25rem var(--text);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow);
  margin-top: 100vh;
}