/* General */

*{
  --shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  --text: hsl(80, 50%, 30%);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: none;
}

dialog {
  border: none;
  box-shadow: var(--shadow);
  border-radius: 25px;
  padding: 25px;
}

dialog .btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: red;
  transform: translate(50%, -50%);
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #777;
}

.select2-container {
  width: 100% !important;
}

/* Text */

input, textarea, select, button,
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Segoe UI";
}

/* Header */

header {
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow);
}

.container {
  max-width: 960px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul,
.nav-right ul {
  display: flex;
}

.nav-right {
  display: flex;
  align-items: center;
}

nav li a {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

/* Main */

Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
  text-align: center;
  padding: 75px 0;
}

.operations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.operations a,
.operation-button {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--shadow);
  border-radius: 25px;
  transition: 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border: none;
}

.operations a:hover,
.operations-button:hover {
    box-shadow: 0 0 0 0.25rem var(--text);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow);
  margin-top: 100vh;
}