<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - IBDb</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
<header>
    <nav class="NavContainer">
        <a asp-area="" asp-controller="Home" asp-action="Index">IBDb</a>
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Industry</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Club</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Bookshelf</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
            </li>
        </ul>
        <ul class="nav-right">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Search</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<main role="main">
    @RenderBody()
</main>
<footer>
    <div class="NavContainer">
        &copy; 2023 - IBDb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>