@{
    ViewData["Title"] = "IBDb | Admin";
}

<div class="MainContainer admin">
    <div class="hero">
        <h1>Admin</h1>
    </div>
    <section>
        <ul class="operations">
            <li>
                <a asp-area=""  asp-controller="Admin" asp-action="Book">
                    <p>📚</p>
                    <h2>Book</h2>
                </a>
            </li>
            <li>
                <a asp-area=""  asp-controller="Admin" asp-action="Author">
                    <p>✍️</p>
                    <h2>Author</h2>
                </a>
            </li>
            <li>
                <a asp-area=""  asp-controller="Admin" asp-action="Publisher">
                    <p>🏢</p>
                    <h2>Publisher</h2>
                </a>
            </li>
            <li>
                <a asp-area=""  asp-controller="Admin" asp-action="Genre">
                    <p>🆖</p>
                    <h2>Genre</h2>
                </a>
            </li>
            <li>
                <a asp-area=""  asp-controller="Admin" asp-action="Setting">
                    <p>🏙️</p>
                    <h2>Setting</h2>
                </a>
            </li>
            <li>
                <a asp-area=""  asp-controller="Admin" asp-action="Theme">
                    <p>👁️‍🗨️</p>
                    <h2>Theme</h2>
                </a>
            </li>
        </ul>
    </section>
</div>